* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-wrap {
    width: 100vw;
    height: 100vh;

    display: grid;
}

.title {
    text-align: center;
    margin: 1rem;
}

.library {
    place-self: center;

    display: grid;
}

.books {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    place-self: center;
    justify-content: space-evenly;
}

.books > li {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    box-shadow: -2px 2px black;
    width: 32ch;
    height: 16ch;
    text-align: center;
}

.books > li button {
    margin: 0.25rem;
}

.new-book {
    width: 60%;
    place-self: center;
    margin: 1rem;
}